body{
    height: 100vh;
    background-image: url(/assets/img/bg-pic-travel.jpeg); 
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    width: 13%;
    margin: 17% 42%;
    font-size: 5em;
    color: white
}